<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENAI - Manutenção</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="header">
        <nav>
            <img src="https://www.sp.senai.br/images/senai.svg" alt="logo" class="logotipo">
        </nav>
    </header>
    <main>
      <h1>1 - coordenaçao</h1>
    </main>
    <footer class="footer">
        <address>
            <p class="endereco">Av. Dr. Jaime de Almeida Pinto, 1332 - Jardim Reflorenda, Botucatu - SP, 18605-318</p>
        </address>
        <div class="direitos">&copy; Todos os direitos reservados - 2024</div>
    </footer>
</body>
</html>