<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas de recuperação</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="header">
        <nav>
            <img src="https://www.sp.senai.br/images/senai.svg" alt="logo" class="logotipo">
        </nav>
    </header>
    <main>
        <div class="form">
            <h1>Perguntas de recuperação</h1>
            <p class="redefinir">Insira os seguintes dados corretamente:</p>
            <form action="#" method="post">
                <div class="group">
                    <input type="text" id="email" name="email" class="input" placeholder="CPF" required><br>
                    <input type="text" id="numero_telefone" name="numero_telefone" class="input" placeholder="Número de Telefone" required><br>
                    <input type="text" id="cidade" name="cidade" class="input" placeholder="Cidade em que nasceu" required>
                </div>
                <button type="submit" class="button1" href="/mudar_senha">Recuperar</button>
            </form>
        </div>
    </main>
    <footer class="footer">
        <address>
            <p class="endereco">Av. Dr. Jaime de Almeida Pinto, 1332 - Jardim Reflorenda, Botucatu - SP, 18605-318</p>
        </address>
        <div class="direitos">&copy; Todos os direitos reservados - 2024</div>
    </footer>
</body>

</html>