<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Pedido</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="header">
        <nav>
            <img src="https://www.sp.senai.br/images/senai.svg" alt="logo" class="logotipo">
        </nav>
    </header>
    <main>
        <div class="form">
            <h1>Editar pedido</h1>
            <form action="/editar-pedido" method="post" enctype="multipart/form-data">
                <input type="hidden" id="idOrdemManutencao" name="idOrdemManutencao" class="input2" values="{{ ordem[0] }}" readonly>
                <div class="group">
                    <textarea class="input2" type="text" id="data" name="data" rows="1" cols="33" required>{{ ordem[1] }}</textarea>
                </div>
                <div class="group">
                    <textarea class="input2" type="text" id="descricao" name="descricao" rows="5" cols="33" required>{{ ordem[2] }}</textarea>
                </div>
                <div class="group">
                    <textarea class="input2" type="text" id="local" name="local" rows="1" cols="33" required>{{ ordem[3] }}</textarea>
                </div>
                <div class="imagem">
                    <img type="file" id="imagem" name="imagem" accept="image/*">
                </div>
                <div class="group">
                    <p class="opcoes">Prioridade:</p>
                    <select class="input" name="prioridade">
                        <option value="1" {% if ordem[5] == '1' %}selected{% endif %}>Alta</option>
                        <option value="2" {% if ordem[5] == '2' %}selected{% endif %}>Média</option>
                        <option value="3" {% if ordem[5] == '3' %}selected{% endif %}>Baixa</option>
                    </select>
                </div>
                <button type="submit" class="button1">Pronto</button>
            </form>
    </main>
    <footer class="footer">
        <address>
            <p class="endereco">Av. Dr. Jaime de Almeida Pinto, 1332 - Jardim Reflorenda, Botucatu - SP, 18605-318</p>
        </address>
        <div class="direitos">&copy; Todos os direitos reservados - 2024</div>
    </footer>
</body>

</html>