<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SENAI - Manutenção</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="header">
        <nav>
            <div class="div">
                <div class="caixa1">
                    <img src="/static/img/senai_logo.svg" alt="logo" class="logotipo">
                </div>
                <!-- <div class="caixa3">
                    <img src="static/img/botao.png" alt="sair" class="sair">
                </div> -->
                <div class="caixa3">
                    <div class="tooltip">
                        <a href="{{ url_for('logout') }}">
                            <img src="static/img/botao.png" alt="sair" class="sair">
                        </a>
                        <span class="tooltiptext">Sair</span>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <h1 class="titulo">Tarefas solicitadas:</h1>
        <div class="div_tabela">
            <div class="caixa_tabela">
                <table class="tabela">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Descrição</th>
                            <th>Local</th>
                            <th>Prioridade</th>
                            <th>Status</th>
                            <th>Alterar</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        {% for ordem in ordens %}
                        <tr>
                            <td>{{ ordem[1] }}</td>
                            <td>{{ ordem[2] }}</td>
                            <td>{{ ordem[3] }}</td>
                            <td class="{% if ordem[4] == 'Alta' %}prioridade-alta
                                       {% elif ordem[4] == 'Média' %}prioridade-media
                                       {% elif ordem[4] == 'Baixa' %}prioridade-baixa{% endif %}">
                                {{ ordem[4] }}
                            </td>
                            <td class="{% if ordem[5] == 'Em andamento' %}status-andamento{% endif %}">
                                {{ ordem[5] }}
                            </td>
                            <td>
                                <a href="/abrir-pedido/{{ ordem[0] }}" class="botaoEditar">Editar</a>
                            </td>
                        </tr>
                        {% endfor %}
    
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer class="footer3">
        <address>
            <p class="endereco">Av. Dr. Jaime de Almeida Pinto, 1332 - Jardim Reflorenda, Botucatu - SP, 18605-318</p>
        </address>
        <div class="direitos">&copy; Todos os direitos reservados - 2024</div>
    </footer>
</body>

</html>